.hero-section{
  background-image: url('../image/texture.png');
}
.hero-section.row p.text-center{
    font-size: 1.75rem;
    font-weight 600;
    color: #6272a4;
    padding-top:60px;
}
.hero-section.row h6.text-center{
    font-size: 1rem;
    line-height: 28px;
    font-weight 300;
    color: #fff;
    padding-top:60px;
}

.hero-section.row p.text-center span:first-child{
  color: white;
}
.hero-section.row p.text-center span:last-child{
  color: #ff79c6;
}
.About-Initab.col-12{
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 100px;
  border-radius: 5px;
  font-family: "Inconsolata", monospace, sans-serif;
  font-size:1rem;
  font-weight:400;
  line-height: 24px;
}

.About-Initab.col-12 p.text-justify{
  margin-bottom: 70px;
}
